<p-card header="Регистрация">
    <form class="space-y-7" [formGroup]="registerForm" (ngSubmit)="register()">
        <div>
            <p-floatLabel>
                <input pInputText type="text" class="form-control" formControlName="userName" />
                <label for="userName" class="form-label">Ник пользователя</label>
            </p-floatLabel>
        </div>
        <div>
            <p-floatLabel>
                <input pInputText type="email" class="form-control" aria-describedby="emailHelp" formControlName="email" />
                <label for="email" class="form-label">Электронный ящик</label>
            </p-floatLabel>
        </div>
        <div>
            <p-floatLabel>
                <input pInputText type="password" class="form-control" formControlName="password" />
                <label for="password" class="form-label">Пароль</label>
            </p-floatLabel>
        </div>
        <button pButton type="submit" class="p-button" [disabled]="!registerForm.valid">Зарегистрироваться</button>
    </form>
</p-card>